{{- $scope := default "homepage" .Scope -}}
{{- $context := .Context -}}

{{- with (index $context.Site.Params.widgets $scope) -}}
    <aside class="sidebar right-sidebar sticky">
        {{ range $widget := . }}
            {{- $showWidget := true -}}

            {{- if and (eq $widget.type "tag-cloud") (ne $context.Section "blog") -}}
                {{- $showWidget = false -}}
            {{- end -}}

            {{- if $showWidget -}}
                {{- if templates.Exists (printf "_partials/widget/%s.html" $widget.type) -}}
                    {{- $params := default dict $widget.params -}}

                    {{ partial
                        (printf "widget/%s" $widget.type)
                        (dict "Context" $context "Params" $params)
                    }}
                {{- else -}}
                    {{ warnf "Widget %s not found" $widget.type }}
                {{- end -}}
            {{- end -}}
        {{ end }}
    </aside>
{{- end }}
